<!-- <p>Enter Login Id <input type="text" [(ngModel)]="login" /></p>
<p>Enter password <input type="password" [(ngModel)]="passwd" /></p>
<button (click)="validate()">check</button> -->

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="display">Display</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="search">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="register">Add Comment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="deletes">Delete Comment</a>
  </li>
 </ul>

<router-outlet></router-outlet>